<!-- add-employee.component.html -->

<div class="max-w-2xl mx-auto p-6 bg-white rounded-md shadow-md m-4">
    <div class="mb-6">
        <h2 class="text-2xl font-bold mb-4">Add New Employee</h2>
    </div>

    <form [formGroup]="employeeForm">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Full Name</label>
            <input type="text" class="appearance-none border rounded w-full py-2 px-3" formControlName="name" required>
            <div *ngIf="isInvalid('name')" class="text-red-500 text-sm mt-1">Name must only contain letters, without any numbers</div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input type="email" class="appearance-none border rounded w-full py-2 px-3" formControlName="email" required>
            <div *ngIf="isInvalid('email')" class="text-red-500 text-sm mt-1">Invalid email address</div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <input type="text" class="appearance-none border rounded w-full py-2 px-3" formControlName="password" required>
            <div *ngIf="isInvalid('password')" class="text-red-500 text-sm mt-1"> Password must be at least 8 characters long and include at least one uppercase letter, one number, and one special character.</div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Role</label>
            <select class="appearance-none border rounded w-full py-2 px-3" formControlName="role" required>
                <option value="employee">Employee</option>
                <option value="admin">Admin</option>
            </select>
            <div *ngIf="isInvalid('role')" class="text-red-500 text-sm mt-1">Role is required</div>
        </div>
        
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Joining Date</label>
            <input type="date" class="appearance-none border rounded w-full py-2 px-3" formControlName="joiningDate" required>
            <div *ngIf="isInvalid('joiningDate')" class="text-red-500 text-sm mt-1">Joining Date is required</div>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Designation</label>
            <input type="text" class="appearance-none border rounded w-full py-2 px-3" formControlName="designation" required>
            <div *ngIf="isInvalid('designation')" class="text-red-500 text-sm mt-1">Designation must only contain letters, without any numbers</div>
        </div>

        <button type="button" class="bg-primary-500 text-white py-2 px-4 rounded" (click)="createEmployee()">Submit</button>
    </form>
</div>
