<!-- get-request.component.html -->
<div class="max-w-2xl mx-auto p-6 bg-white rounded-md shadow-md m-4">
  <h2 class="text-2xl font-bold mb-4">Leave Requests</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Leave ID</th>
        <th>Requested Date</th>
        <th>Leave Type</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of leaveRequests">
        <td>{{ request._id }}</td>
        <td>{{ request.startDate | date: 'shortDate' }}</td>
        <td>{{ request.leaveType }}</td>
        <td>{{ request.status }}</td>
        <td>
          <button class="bg-primary-500 text-white py-2 px-4 rounded mr-2" (click)="approveLeave(request._id)">Approve</button>
          <button class="bg-danger-500 text-white py-2 px-4 rounded" (click)="declineLeave(request._id)">Decline</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
