<!-- get-request.component.html -->

<div class="max-w-5xl mx-auto p-6 bg-white rounded-md shadow-md m-4">
    <h2 class="text-3xl font-bold mb-6 text-center">Leave Requests History</h2>
  
    <table class="w-full">
        <thead>
            <tr class="border-b-2 text-justify">
              <th class="w-1/7 py-3">Name</th>
              <th class="w-1/7 py-3">Start Date</th>
              <th class="w-1/7 py-3">End Date</th>
              <th class="w-1/7 py-3">Request Date</th>
              <th class="w-1/7 py-3">Leave Type</th>
              <th class="w-1/7 py-3">Approved By</th>
              <th class="w-1/7 py-3">Status</th>
            </tr>
          </thead>
          
        <tbody>
            <ng-container *ngIf="leaveRequests && leaveRequests.length; else noData">
                <tr *ngFor="let request of leaveRequests" class="border-b">
                    <td class="py-2">{{ request.user.name }}</td>
                    <td class="py-2">{{ request.startDate | date:'dd MMM yy' }}</td>
                    <td class="py-2">{{ request.endDate | date:'dd MMM yy' }}</td>
                    <td class="py-2">{{ request.timestamp | date:'dd MMM yy' }}</td>
                    <td class="py-2">{{ request.status }}</td>
                    <td class="py-2">{{ request.approvedby }}</td>
                    <td class="py-2">
                        <span *ngIf="request.state === 'approved'" class="text-white">
                            <button class="bg-green-600 px-2 py-1 rounded-full">Approved</button>
                        </span>
                        <span *ngIf="request.state === 'rejected'" class="text-red-500">
                            <button class="bg-red-200 px-2 py-1 rounded-full">Declined</button>
                        </span>
                    </td>
                </tr>
            </ng-container>
            <ng-template #noData>
                <tr>
                    <td class="py-2 text-center" colspan="7">-- No data available --</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>
