<ng-container *ngIf="!leaveDetails; else showLeaveDetails">
  <app-loading></app-loading>
</ng-container>

<ng-template #showLeaveDetails>
  <div class="max-w-2xl mx-auto p-6 bg-white rounded-md shadow-md m-4">
    <h2 class="text-2xl font-bold mb-4">Leave Details</h2>

    <!-- Recent Leave Requests -->
    <h3 class="text-lg font-bold mb-4">Recent Leave Requests</h3>
    <div class="max-h-96 overflow-y-auto">
      <div *ngFor="let request of leaveDetails.leaveRequests" class="mb-4">
        <div class="flex items-center mb-2">
          <span class="text-gray-700 text-sm font-bold mr-2">Request Date:</span>
          <span>{{ request.leaveDate | date:'yyyy-MM-dd' }}</span>
        </div>
        <div class="flex items-center mb-2">
          <span class="text-gray-700 text-sm font-bold mr-2">Leave Type:</span>
          <span>{{ request.leaveType }}</span>
        </div>
        <div class="flex items-center mb-2">
          <span class="text-gray-700 text-sm font-bold mr-2">Status:</span>
          <span>{{ request.status }}</span>
        </div>
      </div>
    </div>

    <!-- Button to show/hide form -->
    <div class="flex justify-end mt-4">
      <button class="bg-primary-500 text-white py-2 px-4 rounded" (click)="makeLeaveRequest()">Make Request</button>
    </div>

    <!-- Form for leave request -->
    <form *ngIf="showLeaveRequestForm" (ngSubmit)="submitLeaveRequest()" class="mt-4">
      <div class="mb-4">
        <label for="leaveDate" class="block text-sm font-bold text-gray-700">Leave Date:</label>
        <input type="date" id="leaveDate" [(ngModel)]="leaveRequest.date" class="form-input">
      </div>
      
      <div class="mb-4">
        <label for="leaveType" class="block text-sm font-bold text-gray-700">Leave Type:</label>
        <select id="leaveType" [(ngModel)]="leaveRequest.leaveType" class="form-select">
          <option value="casual">Casual</option>
          <option value="sick">Sick</option>
        </select>
      </div>
      
      <div class="flex justify-end">
        <button type="button" class="text-primary-500 hover:underline mr-4" (click)="toggleLeaveRequestForm()">Cancel</button>
        <button type="submit" class="bg-primary-500 text-white py-2 px-4 rounded" (clock)="submitLeaveRequest()">Submit</button>
      </div>
      <!-- Form contentas before -->
    </form>
  </div>
</ng-template>
