<ng-container *ngIf="employees.length > 0; else showLoading">
  <!-- Employee details form -->
  <div class="max-w-2xl mx-auto p-6 bg-white rounded-md shadow-md m-4">
    <div class="mb-6">
      <h2 class="text-2xl font-bold mb-4">Employee Details</h2>
      <!-- Display employee details here -->
    </div>

    <form>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Choose Employee</label>
        <select class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="selectedEmployeeId" name="selectedEmployeeId">
          <option value="" disabled>Select an employee</option>
          <option *ngFor="let emp of employees" [value]="emp._id">{{ emp.name }}</option>
        </select>
      </div>

      <div *ngIf="selectedEmployeeId">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Date</label>
          <input type="date" class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="selectedDate" name="selectedDate">
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Status</label>
          <select class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="attendanceStatus" (change)="onStatusChange()" name="attendanceStatus">
            <option value="present">Present</option>
            <option value="absent">Absent</option>
            <option value="halfday">Half Day</option>
            <option value="PTO">PTO</option>
            <option value="casual">Casual Leave</option>
            <option value="sick">Sick Leave</option>
          </select>
        </div>

        <button type="button" class="bg-primary-500 text-white py-2 px-4 rounded" (click)="submitAttendance()">Submit</button>
      </div>
    </form>
  </div>
</ng-container>

<ng-template #showLoading>
  <!-- Loading component -->
  <app-loading></app-loading>
</ng-template>
