<ng-container *ngIf="employees.length > 0; else showLoading">
    <div class="max-w-2xl mx-auto p-6 bg-white rounded-md shadow-md m-4">
      <div class="mb-6">
        <h2 class="text-2xl font-bold mb-4">Employee Details</h2>
      </div>
  
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Choose Employee</label>
        <select class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="selectedEmployeeId" name="selectedEmployeeId" (change)="onEmployeeSelected()">
          <option value="" disabled>Select an employee</option>
          <option *ngFor="let emp of employees" [value]="emp._id">{{ emp.name }}</option>
        </select>
      </div>
  
      <div *ngIf="selectedEmployeeId">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Name</label>
          <input class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="name" name="name" (input)="updateButtonStatus()" />
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
          <input class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="email" name="email" (input)="updateButtonStatus()" />
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Designation</label>
          <input class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="designation" name="designation" (input)="updateButtonStatus()" />
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Role</label>
          <select class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="role" name="role" (ngModelChange)="updateButtonStatus()">
            <option value="employee">Employee</option>
            <option value="admin">Admin</option>
          </select>
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
          <div class="relative">
            <input *ngIf="!isPasswordVisible" type="password" class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="password" name="password" (input)="updateButtonStatus()" />
            <input *ngIf="isPasswordVisible" type="text" class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="password" name="password" (input)="updateButtonStatus()" />
            <button type="button" class="absolute top-0 right-0 mt-2 mr-3" (click)="togglePasswordVisibility()">
              <i class="far" [ngClass]="{'fa-eye-slash': isPasswordVisible, 'fa-eye': !isPasswordVisible}"></i>
            </button>
          </div>
        </div>
  
        <button type="button" class="bg-primary-500 text-white py-2 px-4 rounded" [disabled]="!isUpdateButtonEnabled" [class.bg-gray-300]="!isUpdateButtonEnabled" [class.bg-blue-500]="isUpdateButtonEnabled" (click)="updateEmployeeDetails()">Update Details</button>
        <button type="button" class="bg-red-500 text-white py-2 px-4 rounded ml-2" (click)="deleteEmployee()">Delete Employee</button>
      </div>
    </div>
  </ng-container>
  
  <ng-template #showLoading>
    <!-- Loading indicator or message centered with a smaller, rounded box -->
    <div class="flex items-center justify-center h-screen">
      <div class="max-w-md p-4 bg-white rounded-lg shadow-md">
        <p class="text-gray-700 text-lg">Loading employees...</p>
      </div>
    </div>
  </ng-template>
  