<div class="max-w-2xl mx-auto p-6 bg-white rounded-md shadow-md m-4">
    <div class="mb-6">
      <h2 class="text-2xl font-bold mb-4">Update Credentials</h2>
    </div>
  
    <form #credentialsForm="ngForm">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Select Option</label>
        <select class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="selectedOption" name="selectOption" required>
          <option [ngValue]="'none'" disabled>Select an option</option>
          <option [ngValue]="'email'"> Email</option>
          <option [ngValue]="'password'"> Password</option>
        </select>
      </div>
  
      <div *ngIf="selectedOption === 'email'" class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">New Email</label>
        <input type="email" class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="newEmail" name="newEmail" required />
        <div *ngIf="credentialsForm.controls['newEmail']?.hasError('email')" class="text-red-500 text-sm">Invalid email format.</div>
      </div>
  
      <div *ngIf="selectedOption === 'password'" class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">New Password</label>
        <input type="password" class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="newPassword" name="newPassword"
          pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required />
        <div *ngIf="credentialsForm.controls['newPassword']?.hasError('pattern')" class="text-red-500 text-sm">
          Password must contain at least 1 uppercase letter, 1 number, 1 special character, and be at least 8 characters long.
        </div>
  
     <label class="block text-gray-700 text-sm font-bold mb-2">Confirm New Password</label>
      <input type="password" class="appearance-none border rounded w-full py-2 px-3" [(ngModel)]="confirmPassword" name="confirmPassword" required />
      <div *ngIf="confirmPassword !== newPassword && credentialsForm.controls['confirmPassword'].touched" class="text-red-500 text-sm">
        Passwords do not match.
      </div>
    </div>

    <div class="flex justify-end">
      <button type="button"
              [disabled]="credentialsForm.invalid || credentialsForm.hasError('passwordMismatch') || confirmPassword !== newPassword"
              style="background-color: {{ credentialsForm.invalid || credentialsForm.hasError('passwordMismatch') || confirmPassword !== newPassword ? '#a0aec0' : '#1e40af' }}; color: #ffffff; padding: 10px; border: none; border-radius: 4px; cursor: pointer;"
              (click)="updateCredentials()">Update
      </button>
    </div>
  </form>
</div>