<ng-container *ngIf="users.length === 0; else employees">
    <app-loading></app-loading>
</ng-container>

<ng-template #employees>
    <div class="relative overflow-x-auto sm:rounded-lg p-4">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Name
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Designation
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Joining Date
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Probation Ended
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Presents
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Absents
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Sick Leaves
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Half Days
                 </th>
                  <th scope="col" class="px-6 py-3">
                      PTO
                  </th>
                  <th scope="col" class="px-6 py-3">
                      <span class="sr-only">Edit</span>
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr
              *ngFor="let user of users"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     {{ user.name }}
                  </th>
                  <td class="px-6 py-4">
                    {{ user.designation }}
                  </td>
                  <td class="px-6 py-4">
                    {{ user.joiningDate | date }}
                  </td>
                  <td class="px-6 py-4">
                    {{ user.probationEndDate | date }}
                  <td class="px-6 py-4">
                    {{ user.daysPresent }}
                  </td>
                  <td class="px-6 py-4">
                    {{ user.daysAbsent }}
                  </td>
                  <td class="px-6 py-4">
                    <span [ngClass]="{'text-red-500': user.daysSick >= 6}">
                      {{ user.daysSick }} / 6 Days
                    </span>
                  </td>
                  <td class="px-6 py-4">
                    {{ user.daysHalfday }} 
                    <td class="px-6 py-4">
                      <span [ngClass]="{'text-red-500': user.daysPto >= 15}">
                        {{ user.daysPto | number: '1.0-1' }} / {{ user.calculatedPTO | number: '1.1-1' }}
                      </span>
                    </td>
                  <td class="px-6 py-4 text-right">
                  </td>
              </tr>
          </tbody>
      </table>

      <div class="mt-4 flex justify-end">
        <button (click)="addAttendance()" class="rounded-full px-4 py-2 bg-blue-500 text-white text-xs hover:bg-blue-600">
            Edit Attendance
        </button>
      </div>
    </div>
</ng-template>
