<ng-container *ngIf="users.length === 0; else employees">
    <app-loading></app-loading>
</ng-container>

<ng-template #employees>
    <div class="relative overflow-x-auto sm:rounded-lg p-4">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Name
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Joining Date
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Presents
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Absents
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Designation
                  </th>
                  <th scope="col" class="px-6 py-3">
                      PTO Remaining
                  </th>
                  <th scope="col" class="px-6 py-3">
                      <span class="sr-only">Edit</span>
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr
              *ngFor="let user of users"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                     {{ user.name }}
                  </th>
                  <td class="px-6 py-4">
                    {{ user.joiningDate | date }}
                  </td>
                  <td class="px-6 py-4">
                    {{ user.totalDaysPresent }}
                  </td>
                  <td class="px-6 py-4">
                    {{ user.totalDaysAbsent }}
                  </td>
                  <td class="px-6 py-4">
                    {{ user.designation }}
                  </td>
                  <td class="px-6 py-4">
                    {{ user.ptoRemaining }} days
                  </td>
                  <td class="px-6 py-4 text-right">
                      <button (click)="addAttendance(user.userId)" class="font-medium text-primary-600 dark:text-primary-500 hover:underline">Add Attendance</button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
</ng-template>
